@import 'tailwindcss';

@supports (padding: env(safe-area-inset-bottom)) {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .safe-top {
    padding-top: env(safe-area-inset-top);
  }
}

html {
  scroll-behavior: smooth;
}

button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
